.change-code-icon {
  width: 106px;
  height: 106px;
  margin: 70px auto 13px auto;
  display: block;
}
.change-code-box {
  width: 519px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 220px;
}
.submit-button {
  width: 100%;
  margin-top: 10px;
  height: 35px;
}
.change-code-box .ant-row {
  margin-bottom: 10px;
}
