<div class="content__title">
    <h1>修改密码</h1>
</div>
<div class="ant-card">
    <img src="../../../../assets/img/changecode@2x.png" class="change-code-icon" />
    <div class="ant-card-body change-code-box">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label nzFor="old_password" nzRequired>原始密码</nz-form-label>
                <nz-form-control>
                    <input type="text" name="name" value="" style="position: absolute;z-index: -1;" autocomplete="new-password" />
                    <input type="password" style="position: absolute;z-index: -1;" autocomplete="new-password">
                    <input nz-input id="old_password" formControlName="oldPassword" type="password" required
                        #focusInput>
                    <nz-form-explain *ngIf="validateForm.get('oldPassword').dirty && validateForm.get('oldPassword').errors">原始密码不能为空</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="new_password" nzRequired>新密码</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="newPassword" type="password" required [placeholder]="textInNewP"
                        #focusInput2 (ngModelChange)="updateConfirmEqual()">
                    <nz-form-explain *ngIf="validateForm.get('newPassword').dirty&&validateForm.get('newPassword').errors">
                        <ng-container *ngIf="validateForm.get('newPassword').hasError('required')">
                            新密码不能为空！
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('newPassword').hasError('password')">
                            8-64位,包含至少一个大写字母、一个小写字母、一个数字和一个特殊字符
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="confirm_new_password">确认密码</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="new_password" type="password" required #focusInput3>
                    <nz-form-explain *ngIf="validateForm.get('new_password').dirty&&validateForm.get('new_password').errors">
                        <ng-container *ngIf="validateForm.get('new_password').hasError('required')">
                            确认密码不能为空！
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('new_password').hasError('confirm')">
                            密码不一致！
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button [nzType]="'primary'" class="submit-button">确定更新密码</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>
