[nz-button] {
    margin-right: 8px;
}

.search-block {
    width: 50%;
}

.search-block .ant-form-item-control-wrapper {
    width: 220px;
    margin-right: 10px;
}

.search-block button {
    margin-top: 4px;
}

.role-name {
    padding: 3px 5px;
    color: white;
    margin: 3px 5px 2px 0;
    display: block;
    float: left;
    border-radius: 5px;
    font-size: 10px;
    line-height: 1;
}

.delete-all {
    float: right;
    color: #1890ff;
    position: absolute;
    left: 35px;
    top: 50%;
    font-size: 11px;
    line-height: 26px;
    margin-top: -13px;
}

.pwdValidate {
    color: red;
    font-size: 14px;
}

th .ant-checkbox-wrapper {
    float: left !important;
}

.checkbox {
    position: relative;
}

.status {
    width: 68px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    color: white;
    border-radius: 20px;
    display: block;
}

.status i {
    margin-right: 2px;
}

.no-result-img {
    margin: 66px auto 10px auto;
    display: block;
}
